<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>🔥 Spring Data JPA Training 🔥</h1>

    <button onclick="location.href='/product/list'">전체 상품</button>

    <button onclick="location.href='/product/querymethod'">판매가격 쿼리 메소드</button>

    <button onclick="location.href='/product/regist'">신상품 등록</button>
    <button onclick="location.href='/product/modify'">상품 수정</button>
    <button onclick="location.href='/product/delete'">상품 삭제</button>

</body>
</html>